[Unit]
Description=IRC Logger
After=network.target

[Service]
EnvironmentFile=/etc/defaults/irclogger
Type=simple
User=
WorkingDirectory=/tmp
ExecStart=irclogger
Restart=on-abort

[Install]
WantedBy=multi-user.target